footer{background-color: #8BC34A;}
        footer .f1{display: flex; color: white; justify-content: space-evenly; line-height: 1.6; padding: 10px 30px;}
        .f01{width: 600px; display: flex; flex-direction: column;}
        .f01 figure{display: flex; font-size: 20px; flex-direction: row; column-gap: 10px; width: 300px; align-items: center; justify-content: center;}
        figure img{width: 100px; height: 100px;}
        .f02 ul > li, .f03 ul > li, .f04 ul > li{list-style: none; line-height: 1.6;}
        footer .f2{display: flex; justify-content: space-between; color: white; padding: 30px 50px;}
        .f21 h3{text-align: center;}
        .f21 .f211 > img{width: 25px; height: 25px;}
        .f2 .f21{display: flex; flex-direction: column;}
        .f2 .f21 > .f211{display: flex; gap: 30px;}
        .f3{color: white; display: flex; justify-content: space-between;padding: 10px 30px;}
        .f3 .f31{width: 300px;}